__pycache__
.ipynb_checkpoints
.project
.settings/
.pydevproject
.eggs
*.egg-info
*.pyc
build
dist
.coverage
coverage.xml
nosetests.xml
.python-version
.tox
.ropeproject
.idea
_build
*.iml
.cache
htmlcov
tests.xml
.pytest_cache
notebooks/ddw-0.4.6.jar
notebooks/ddw.log
notebooks/configs/*
